<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="Header" class="flex flex-col">
    <div class="absolute top-0 left-0 -z-10 h-screen w-full overflow-hidden">
      <div class="h-full w-full relative">
        <video
          autoplay
          muted
          loop
          id="myVideo"
          height="400%"
          width="400%"
          class="absolute top-0 left-0 right-0 bottom-0 hidden md:block"
        >
          <source th:src="(@{img/truck-video-2.mp4})" type="video/mp4" class="" />
        </video>
        <img
          th:src="(@{img/assets/iphone.jpg})"
          alt=""
          class="absolute top-0 left-0 right-0 bottom-0 block md:hidden h-full"
        />
      </div>
    </div>
    <section
      id="navigationContainer"
      class="flex flex-col min-w-full min-h-screen bg-black/50"
      role="navigationContainer"
    >
      <nav th:fragment="Navigation" class="border-gray-200 pt-10 md:pt-0 pb-10 md:px-36">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="https://flowbite.com/" class="flex items-center">
            <img th:src="(@{img/assets/able-logo-white.PNG})" alt="ABLELOG" class="w-44 md:w-64" />
          </a>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            id="navToggle"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>

          <div class="hidden w-full h-full md:block md:w-auto" id="navbar-default">
            <ul
              class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:border-gray-700"
            >
              <li>
                <a
                  href="/"
                  class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/about"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >About</a
                >
              </li>

              <li>
                <a
                  href="/services"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Services</a
                >
              </li>

              <li>
                <a
                  href="/contact"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="min-w-full flex flex-col grow justify-top items-center gap-20">
        <h1 class="text-4xl text-white font-bold max-w-md mdz;px-8 md:text-6xl text-center md:max-w-4xl pt-2">
          Reliable, Efficient, And Safe Transportation Solutions.
        </h1>
        <div class="min-w-full flex flex-row gap-4 md:gap-10 justify-center">
          <button class="border-[1px] border-white text-white font-bold py-2 px-2 rounded-sm">CONTACT US</button>
          <button class="bg-white text-black font-bold py-2 px-2 rounded-sm">DISCOVER MORE</button>
        </div>
      </div>
    </section>
  </header>
</html>
