<div th:fragment="Main">
  <div class="w-full flex flex-row justify-center mb-10">
    <h1 class="text-4xl font-bold">Contact Us</h1>
  </div>
  <div class="mt-10 w-full flex flex-row justify-center">
    <form
      action="https://getform.io/f/0b3a953e-3eb5-40c6-9d1a-28736c4e3b1f"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="flex flex-col w-64 gap-10">
        <label for="name" class="text-center font-bold">Name</label>
        <input type="text" name="name" class="grow-0" />
        <label for="name" class="text-center mt-4 font-bold">Email</label>
        <input type="email" name="email" />
        <label for="name" class="text-center mt-4 font-bold">Message</label>
        <input type="text" name="message" />
        <!-- add hidden Honeypot input to prevent spams -->
        <input type="hidden" name="_gotcha" style="display: none !important" />
        <!-- checkbox handle -->
        <!-- <input type="checkbox" name="subscribe" value="yes" checked /> -->
        <!-- <input type="hidden" name="subscribe" value="no" /> -->
        <!-- radio button handle -->
        <!-- <input type="radio" name="gender" value="male" checked /> -->
        <!-- <input type="radio" name="gender" value="female" /> -->
        <!-- <input type="radio" name="gender" value="other" /> -->
        <!-- select field handle -->
        <label for="resume" class="text-center mt-4 font-bold">Resume</label>
        <input type="file" name="resume" />
        <button class="mt-4 px-5 py-2 bg-blue-700 text-white" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
